aaa = 1

bbb.ccc = 2

ddd = []

eee = [ 1 + 2 3 21 + 21 ]

eee.- = 0

(include "config/include.config")

nested.include = {
   (include "config/include.config"),
   a = 3
}

testing = {
   copied = (copy nested),
   another = (copy eee.1)
}

(stderr testing)

fff = (copy bbb)

ggg = (bbb)

hhh = (eee.(bbb.ccc))

debug_test = (debug eee)

(delete testing.copied)

(delete eee.3)

fff.ccc += 40

fff += {
   added : false,
   null : null + null
}

fff.null += null

eee += [ 800 ] + [ true, false ]

iii.-.- = 99

z = { a : 1 }
z += { a : 2 }

(delete z.a)

shell = (shell "echo '[ 42 52 ]'") + [ 62 ] + [ "Hello, " + (env "USER") null ]
