aaa = 1

bbb.ccc = 2

ddd = []

eee = [ 1 + 2 3 21 + 21 ]

eee.- = 0

@include "config/include.config"

nested.include = {
   @include "config/include.config"
}

testing = {
   copied = @copy nested
}

fff = @copy bbb

ggg = (bbb)

hhh = (eee.(bbb.ccc))

@delete testing.copied

@delete eee.3

fff.ccc += 40

fff += {
   added : false
   null : null + null
}

fff.null += null
